@import url('https://fonts.googleapis.com/css2? famille= Nunito:wght@200;300;400;600;700 & display=swap');

:root {
    --orange: rgba(252, 137, 7, 0.959);
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, .1);

}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(GitHub.png);
    /*background-repeat: no-repeat;
    background-size: 100%;*/
}

html {
    font-size: 62.5%;
    overflow: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

 header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(50, 42, 85);
    padding: 1rem 40%;
    display: block;
    align-items: center;
    justify-content: space-between;
    z-index: var(--box-shadow); 
}

footer{
    margin-left: 40%;
    padding: 10rem 0%; 
}



header .logo {
    margin-left: 10%;
    color: var(--orange);
    /* font-size: 2.5rem; */
    
}

header h4{
    display: block;
    position: relative;
    margin-left: 10%;
    color: var(--orange);
    margin-top: 7%;
    margin-left: 1%;
    /* font-size: 2.5rem; */
    font-size: 17px;
    justify-content: space-between;
}

header  i {
    color: var(--orange);
    font-size: large;
    font-size: 30px;
}

nav{
    background: #fff;
    padding:2%;
    display: block;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--black);
}

.navbar a.active,
.navbar a:hover{
    color: #fff;
    background: var(--orange);
} 

nav #main{
    /* padding: 50%; */
    display: block;
    left:50%;
    align-items: center;
    justify-content: space-between;
    border-radius: 59px;
    margin-top: 25%;
    /* margin-left: 40%; */
    width: 260px; 
    margin-left: 40%;
    /* padding: 10rem 0%; */
}