@import url('https://fonts.googleapis.com/css2? famille= Nunito:wght@200;300;400;600;700 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


:root {
    --orange: rgba(252, 137, 7, 0.959);
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, .1);

}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("Git3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: calc(110);
}
img{
    size: 10%;
    height: 70%;
}
button {
    border: 0;
    /*background: transparent;*/
    color: white;
    position: relative;
    overflow: hidden;
    padding: 20px 35px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.5em;
    box-shadow: 0px -0px 0px 0px rgba(143, 64 ,248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
    transition: all .5s;
}
button::after {
    content: "";
    width: 400px;
    height: 400px;
    background: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    position: absolute;
    top: -50px;
    left: -100px;
    z-index: -1;
    transition: all .5s;
}
button :hover::after{
    transform: rotate(150deg);
}
button:hover {
    transform: translate(0, -7px);
    box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
}
.contenu{
    flex: 1 0 auto;
}
 header{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 40%;
    display: flex;
    background: rgb(50, 42, 85);
    align-items: center;
    justify-content: space-between;
    z-index: var(--box-shadow); 
}
header a{
    /*transform: rotate(360deg);*/
    background: rgb(50, 42, 85);
}

footer{
    flex-shrink: 0;
    width: 100%;
    height: 7%;
    /*margin-left: 27%;
    padding: 49rem 10%; */
    border-top: 1px solid rgb(50, 42, 85);
    background: rgb(50, 42, 85);
}
.footer-contenu{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 10px;
    /*padding: 50px 0 100px;*/
}
.footer .reseau ul 
{
	list-style: none;
	display: flex;
	justify-content: left;
	padding-top: 1rem;
}
.footer .reseau ul li a 
{
	color: #b2b2b2;
	margin-left: 10px;
	font-size: 18px;
}

.footer div
{
	padding: 0 20rem;
}

header .logo {
    margin-left: 10%;
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i {
    color: var(--orange);
}

header .icons i {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}
header .bloc{
    background: rgb(50, 42, 85);
}

header .icons i:hover {
    color: #fff;
    background: var(--orange);
    /*transform: rotate(360deg);*/
}
h2{
    color:#b2b2b2;
    font-size: 17px;
    padding-top: 15px;
    justify-content: center;
}
nav{
    background: #fff;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
.navbar :hover{
    /*transform: rotate(360deg);*/
    text-transform: var(--light-color);
    /*transform: scale(1.1);*/
}
.navbar a{
    /*transform: rotate(360deg);*/
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--black);
}

.navbar a:active,
.navbar a:hover{
    color: var(--lidht-color);
    /*background: var(--orange);*/
} 

header .icons #menu-bars{
    display: none;

}

#aboutMe{
    padding-top: 10px;
    font-size: 15px;
    /*border: 2px solid #000;*/
    margin-left: 40%;
}
i .fa.fa-home{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
}
i .fa.fa-home ::after{
    color: #eee;
}
p{
    text-decoration: underline;
    cursor: pointer;
    justify-content: center;
    color: rgb(231, 214, 214);
}
#aboutMe p:hover{
    text-decoration: underline;
    text-transform: uppercase;
    display: flex;
    transform: scale(1.2);
    text-decoration: solid;
    color: orangered;
    left: 10%;
}
header .nomMembre{
    background: rgb(205, 197, 212);
}
a .backhome{
    margin-left: 100px;
    border: 1px solid #333;
    color: #c625d0;
    border-radius: 30px;
    background: #26caf8;
}
.backhome :hover{
    transform: scale(1.2);
}
/*.backHome {

    border-radius: 30px;
    margin-left: 76%;
    font-size: 17px;
    position: relative;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    /*background: #c625d0;
}*/
.backhome{
    background-color: #fff;
    top: 100px;

}
i {
    color: orange;
}

/*custom scroll bar*/

/*::-webkit-scrollbar{
	width: 30px;
    display: flex;
    position: relative;
}
::-webkit-scrollbar-track{
	background: rgb(179, 176, 176);
}
::-webkit-scrollbar-thumb{
	background: #ba65e2;
}*/

/*jump to top*/
.topbtn
{
	position: fixed;
	right: 2%;
	bottom: 10%;
	width: 30px;
	height: 30px;
	background: #cdaa7c;
	color: #fff;
	cursor: pointer;
}

/*responsive form*/

@media screen and (max-width: 1300px) {
    
    .footer-contenu, header, div, h2, .contenu .backhome .loader-container{
        width: 100%;
        flex-wrap: wrap;
        margin: 35px 35px;
    }
    header, div, footer, h2, .contenu.navbar .footer-contenu .backhome .loader-container :nth-child(1),
    header, div, footer, h2, .contenu .navbar .footer-contenu .backhome .loader-container :nth-child(2) {
        margin-bottom: 30px; 
    }
    
}

@media screen and (max-width: 750px) {
    footer, div, .footer-contenu, header, h2, .contenu .loader-container{
        width: 70%;
        flex-wrap: wrap;
        margin: 25px 25px;

    }
    header, footer, div, h2, .contenu .navbar .footer-contenu .backhome .loader-container :nth-child(1),
    header, footer, div, h2, .contenu .navbar .footer-contenu .backhome .loader-container :nth-child(2) {
        margin-bottom: 30px;
    }
}
