@import url('https://fonts.googleapis.com/css2? famille= Nunito:wght@200;300;400;600;700 & display=swap');

:root {
    --orange: rgba(252, 137, 7, 0.959);
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, .1);

}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
body{
    min-height: 100vh;
}

html {
    font-size: 62.5%;
    overflow: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

 header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(50, 42, 85);
    padding: 1rem 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: var(--box-shadow); 
}

footer{
    /* margin-left: 27%; */
    /* padding: 4rem 10%;  */
    top: 95%;
    left: 39%;
    position: fixed;
    color: #c9c9c9af;
}

header .logo {
    margin-left: 10%;
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i {
    color: var(--orange);
}

header .icons i {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover {
    color: #fff;
    background: var(--orange);
    transform: rotate(360deg);
}
 
nav{
    background: #8b8b8b44;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--black);
}

.navbar a.active,
.navbar a:hover{
    color: #fff;
    background: var(--orange);
    transform: scale(1.2);
} 

header .icons #menu-bars{
    display: none;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(./img/github-wallpapers.png) center center no-repeat fixed;
    background-size: cover;
}
.bubbles{
    position: relative;
    display: flex;
    z-index: 1;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s/ var(--i)) ;

}
.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
   
}
.box{
    position: relative;
    height: 200px;
    top: 270px;
    left: 350px;
    transform-style: preserve-3d;
    animation: turn 15s linear infinite ;
}
@keyframes turn{
    0%{
      transform: rotateX(-20deg) rotateY(360deg);  
    }
    100%
    {
        transform: rotateX(-20deg) rotateY(0deg);
    }
}
.box div{
    position: absolute;
    inset: 0;
    transform-style: preserve-3d;
}
.box div.block span{
     position: absolute;
     left: calc(50% - 100px);
     width: 202px;
     height: 100px;
     background: #444;
     transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
     transform: 0.5s;
}
.box div.text span{
     position: absolute;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
     cursor: pointer;
     color: #fff;
     font-size: 7em;
     font-weight: bold;
     text-transform: uppercase;
     z-index: 10;
     line-height: 1em;
     -webkit-text-stroke: 3px #000;
     transform-style: preserve-3d;
}
.box div.text span:nth-child(1){
     font-size: 6em;
}
.box div.text span::before{
     content: attr(data-text);
     position: absolute;
     bottom: 50px;
     transform-origin: bottom;
     transform: rotateX(-90deg);
     color: rgba(0, 0, 0, 0.1);
     -webkit-text-stroke: 4px #000;
     filter: blur(5px);
}
.box div.text span::after{
    content: '';
    position: absolute;
    top: 100px; 
    width: 360px;
    height: 60px;
    background: #444;
    transform: rotateX(-90deg);
    transition: 0.1s;
}
.box:hover div.text span::after{
    background: var(--orange);
    filter: drop-shadow(0 0 50px var(--orange));
}
.box:hover div.block span{
    background: var(--orange);
    filter: drop-shadow(0 0 90px var(--orange));
}

@keyframes animate {
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}